
@charset "utf-8";


/* --------------------------------------------
 * default
/* ------------------------------------------ */
html, body { width: 100%;}

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
*:before,
*:after{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

a{ -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition:all 0.2s ease-in-out; }

/* -------------------------------------------- html5 block ------------------------------------------ */
/* HTML5 display-role reset for older browsers */

/* ------------------------------------------ */
a { color: #666; text-decoration: none; }

/* --------------------------------------------
	list
/* ------------------------------------------ */
ul, ol { list-style: none; }

/* --------------------------------------------
 * etc
/* ------------------------------------------ */
address, em { font-style: normal; }
hr { display: none; }
sup { position: relative; top: -3px; padding-left: 3px; font-size: 11px; }


/* --------------------------------------------
 * table
/* ------------------------------------------ */
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
tbody, tfoot, thead, tr, th, td { word-break:break-all; vertical-align:middle;     text-align: center; }
caption { display: none; }

/* --------------------------------------------
 * fieldset
/* ------------------------------------------ */
fieldset { border: none; }
legend { visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0; position: absolute; left: 0; top: -999999px; }

/* --------------------------------------------
 * form
/* ------------------------------------------ */
input[type=button], 
input[type=submit] { cursor: pointer; }
button { width: auto; overflow: visible; background: none; border: none; cursor: pointer; margin: 0; padding: 0; }
button > span { position: relative; }
textarea { resize: none; padding: 0px; color: #666;}
select::-ms-expand { display: none; /*display: block\0/IE8+9; */ }
input, button, select, textarea { vertical-align:middle; }
input.block, button.block, select.block, textarea.block{ width:100%; display: block;}

fieldset{border:0}
input,select,label{display:inline-block;box-sizing:border-box;vertical-align:middle;outline:0; }
label{ color:#535a70; margin-right:5px;}
input[type=text],
input[type=password]{ font-size:14px; height:50px; width: 1014px;padding:0 10px; border:solid 1px #ddd; line-height:50px; background-color:#fff; }
input[type=text]:disabled,
select:disabled,
textarea:disabled{ border-color:#d7dae3; color:#d7dae3; background-color:#f8f8f9 !important;}
input[type=button],
button{vertical-align:middle;appearance:none;-ms-appearance:none;-webkit-appearance:none;-moz-appearance:none;outline:none;}
input[type=button],
input[type=submit],button{height:30px;border:0;text-align:center;cursor:pointer;}
input[type=file]{cursor:pointer;}
textarea{padding:3px;border:solid 1px #ddd;vertical-align:middle;resize:none;outline:none; text-align: center;}
input[type=text]:focus,
input[type=password]:focus{ border-color:#999;}

input[type=checkbox],input[type=radio]{ position:absolute; top:0; left:-1000%; overflow:hidden; width:1px; height:1px; text-indent:-10000px; -ms-appearance:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
input[type=checkbox] + label::before{ content:""; display:inline-block; width:16px; height:16px; margin-right:5px; border:solid 1px #484b60; vertical-align:-2px; background-color:#fff;}
input[type=radio] + label::before{ content:""; display:inline-block; width:16px; height:16px; margin-right:5px; border:solid 1px #484b60; vertical-align:-3px; background-color:#fff;}
input[type=checkbox]:disabled + label::before,
input[type=radio]:disabled + label::before{ border-color:#d7dae3; background-color:#fff; cursor:default;}
input[type=radio] + label{ margin-right:10px;}
input[type=radio] + label::before{ border-radius:18px;}

input:focus::-webkit-input-placeholder{color:transparent;}
input:focus::-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder{color:transparent;}
input:focus::-ms-input-placeholder{color:transparent;}

.select.sm,
.input.sm{ height: 34px; line-height: 34px;}

/* common */
.blind { display: block; overflow: hidden; position: absolute; left: -1000%; top: 0; width: 0; height: 0; font-size: 0; line-height: 0; text-indent: -10000px; }
.hide { display: none; }
.color-blue{ color:#3d5da8 !important;}
a.color-blue:hover{ text-decoration: underline;}
.color-red{ color:#ff0000 !important;}
.color-gray{ color:#777 !important;}
.color-black{ color:#111 !important;}
.text-left{ text-align: left !important;}
.text-center{ text-align: center !important;}
.text-right{ text-align: right !important;}
.fr{ float:right !important;}

.p-15{ padding:15px !important;}
.mr-20{ margin-right: 20px !important;}
.mt-0{ margin-top:0 !important;}
.mt-5{ margin-top:5px !important;}
.mt-10{ margin-top:10px !important;}
.mt-20{ margin-top:20px !important;}
.mt-40{ margin-top:40px !important;}

.w350{ width:350px;}
.w30p{ width:30%;}
.d-inline{ display: inline-block;}
.f-none{ float: none !important;}

.hr{ margin:40px 0; background-color:#ddd; height: 1px; width: 100%; }

/* btn */
.btn-box{ text-align:center; margin:20px 0 0; }
.btn-box:after{content:""; display:block; height:0; clear:both; visibility:hidden;}
.btn-box.page-line{ position:relative; z-index:1; height:0; margin-top:0; }
.btn-box.page-line .fr,
.btn-box.page-line .fl{ position:absolute; top:-35px; float:none; }
.btn-box.page-line .fr{right:0;}
.btn-box.page-line .fl{left:0;}
.btn-box .btn + .btn{ margin-left:8px;}
.btn-box.n2 .btn{ width:49%; float:left;}
.btn-box.n2 .btn + .btn{ float:right;}
.btn-box.lg{ margin-top:50px;}
.btn-small .btn {
  padding: 6px 10px; /* 작은 버튼의 내부 여백 설정 */
  font-size: 10px; /* 작은 버튼의 폰트 크기 설정 */
}

.btn{ min-width:110px; padding:0 30px; display:inline-block;  vertical-align:middle; line-height:48px; margin:0; letter-spacing:-0.05em; white-space:nowrap; height:50px; color:#000; border:#333 1px solid; font-size:16px; text-align:center; background-color:#fff;}
.btn.btn-ssm{ height: 26px; line-height: 24px; font-size:13px; padding:0 10px; min-width:60px;}
.btn:hover{ background-color: #f1f1f1;}
.btn.blue{ color:#789dc7; border-color:#789dc7; }
.btn.btn-blue{ background-color:#6c89cd; border-color:#6c89cd; color:#fff;}
.btn.btn-blue:hover{ background-color:#8aa3de; border-color:#8aa3de;}
.btn.btn-green{ background-color:#374b53; border-color:#374b53; color:#fff;}
.btn.btn-green:hover{ background-color:#417286; border-color:#417286;}
.btn.btn-green2{ background-color:#7895a0; border-color:#7895a0; color:#fff;}
.btn.btn-green2:hover{ background-color:#90b1bd; border-color:#90b1bd;}
.btn.btn-gray{ background-color:#9fa1a7; border-color:#9fa1a7; color:#fff;}
.btn.btn-gray:hover{ background-color:#82858d; border-color:#82858d;}
.btn.btn-red{ background-color:#c33018; border-color:#c33018; color:#fff;}
.btn.btn-red:hover{ background-color:#e45a43; border-color:#e45a43;}
.btn.btn-lg{ height: 60px; line-height: 58px; font-size: 18px;}
.btn.btn-sm{ height: 34px; line-height: 32px; font-size: 14px; padding:0 15px; min-width:80px; }
.btn.block{ width:100%; padding:0; display: block;}
.btn.wide{ min-width: 200px;}
.btn.radius{ border-radius:3px;}
.btn.radius2{ border-radius:30px;}