@font-face {
	font-family: 'NotoSans_Regular';
	src: url('./member/font/NotoSansKR-Regular.ttf') format('truetype')
}
@font-face {
	font-family: 'NotoSans_Bold';
	src: url('./member/font/NotoSansKR-Bold.ttf') format('truetype')
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #6da77e;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 1px 1px 1px #456456;
    color: black;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    max-height: 100%;
}

nav {
    display: flex;
}

nav a {
    width: 150px;
    margin: 0 50px;
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-family: "NotoSans_Regular";
}

#nav_left {
    margin-left: auto;
}

#nav_right {
    margin-right: auto;
}

.login_group {
    float: right;
  	display: flex;
    margin-left: auto;
    width: 100%;
    justify-content: flex-end;
}
.login_group form:form {
    margin: 0 0px;
}
.login_group a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 8px;
    font-family: 'NotoSans_Regular';
}