@charset "utf-8";


.suggestions {
	position:absolute;
	width:70%;
    height:auto;
    z-index: 1000;
}

.suggestions > div:hover {
    background-color: rgb(207, 204, 204);
}

.row {
	padding-right: 50px;
	padding-left: 50px;

}

.swiperCon{
	margin: 25px 100px;
	padding: 25px;
	background-color: #8EC693;
	border-radius: 30px;
}

.rowList {
	padding-top: 25px;
	display: flex;
	justify-content: center;
}

.swiper {
    width: 100%;
    height: 100%;
    }

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
}s

.btnCon {
	margin: 0px 100px;
	display: flex;
	justify-content: center;
}

#b1{
	width: 100%;	
}

.swiper-slide:hover {
    background-color: skyblue;
    /* Add any additional styles you want to apply when hovering */
}