<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ask">
  <insert id="insert" parameterType="askVO">	
	insert into animul.ask values (
	null,
	#{member_id},
	#{ask_title},
	#{ask_content},
	now(),
	#{ask_file},
	#{ask_category}
	)
  </insert>
  
  <update id="update" parameterType="askVO" >
		update animul.ask 
		set ask_title = #{ask_title}, ask_content = #{ask_content} 
		where ask_id = #{ask_id}
  </update>
  
  <delete id="delete" parameterType="askVO" >
	    delete from animul.ask where ask_id = #{ask_id}
   </delete>
	
</mapper>