<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ask">
  <insert id="insert" parameterType="askVO">	
	insert into animul.ask values (
	null,
	#{member_id},
	#{ask_title},
	#{ask_content},
	now(),
	#{ask_category},
	#{ask_status},
	#{ask_img}
	)
  </insert>
  
  <update id="update" parameterType="askVO" >
		update animul.ask 
		set ask_title = #{ask_title}, 
		    ask_content = #{ask_content},
		    ask_category = #{ask_category}  
		where ask_id = #{ask_id}
  </update>
  
  <update id="update2" parameterType="askVO" >
		update animul.ask 
		set ask_status = #{ask_status}
		where ask_id = #{ask_id}
  </update>

  <delete id="delete" parameterType="askVO" >
	    delete from animul.ask where ask_id = #{ask_id}
   </delete>
   
   <select id="list" resultType="askVO">
		select * from animul.ask a  where ask_status='답변완료' order by ask_id desc
	</select>
	
	<select id="list1" resultType="askVO">
		select * from animul.ask a  where ask_status='답변대기중' order by ask_id desc
	</select>

	<select id="one" parameterType="askVO" resultType="askVO">
	    select * from animul.ask where ask_id = #{ask_id}
	</select>
	
<!--paging  -->

	<select id="count" resultType="int">
		select count(*)	from ask
	</select>
	
	<select id="list2" parameterType="pagecsVO" resultType="askVO">
	select *
	from 
	    (select 
	     row_number() over(order by ask_id desc) ask_no,
	     a.* from ask a) a2
	where a2.ask_no between ${start} and ${end}
	</select>
	
	
</mapper>