<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="diagnosis">
	<insert id="insert" parameterType="diagnosisVO">
		insert into animul.diagnosis values (
			#{diagnosis_name},
			#{diagnosis_category}
		)
	</insert>
	
	<select id="find" parameterType="diagnosisVO" resultType="diagnosisVO">
		select * from animul.diagnosis where diagnosis_name like CONCAT('%',#{diagnosis_name},'%')
	</select>
	
	<select id="one" parameterType="diagnosisVO" resultType="diagnosisVO">
		select * from animul.diagnosis where diagnosis_name = #{diagnosis_name}
	</select>
	
	<select id="list" resultType="diagnosisVO">
		select * from animul.diagnosis order by diagnosis_name desc
	</select>
</mapper>