<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="faq">
	<insert id="insert" parameterType="faqVO">	
	insert into animul.faq values (
	null,
	#{faq_title},
	#{faq_content},
	#{faq_category}
	)
  </insert>
  
  <update id="update" parameterType="faqVO" >
		update animul.faq
		set faq_title = #{faq_title}, faq_content = #{faq_content} 
		where faq_id = #{faq_id}
  </update>
  
  <delete id="delete" parameterType="faqVO" >
	    delete from animul.faq where faq_id = #{faq_id}
   </delete>
   
</mapper>