<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mypet">
	<insert id="insert" parameterType="mypetVO">
		insert into animul.mypet values (
			null,
			#{mypet_owner},
			#{mypet_name},
			#{mypet_category},
			#{mypet_variety},
			#{mypet_gender},
			#{mypet_weight},
			#{mypet_birthday},
			#{is_neutralization}			
		)
	</insert>

	<update id="update" parameterType="mypetVO">
		update mypet
		set
			mypet_name=#{mypet_name},
			mypet_category=#{mypet_category},
			mypet_variety=#{mypet_variety},
			mypet_gender=#{mypet_gender},
			mypet_weight=#{mypet_weight},
			mypet_birthday=#{mypet_birthday},
			mypet_neutralization=#{is_neutralization}		
		where
			mypet_id=#{mypet_id}
	</update>
	
	<select id="all" resultType="mypetVO">
		select * from member
	</select>
	
	<delete id="delete" parameterType="mypetVO">
		delete from member where id="#{id}"
	</delete>
	
	<select id="count" resultType="Integer">
		select count(*) from member
	</select>

	<select id="simple_inquiry" parameterType="mypetVO" resultType="mypetVO">
		select mypet_id, mypet_name, mypet_birthday, mypet_category, mypet_variety, mypet_gender from mypet where mypet_owner=#{mypet_owner}
	</select>

	<select id="inquiry" parameterType="mypetVO" resultType="mypetVO">
		select * from mypet where mypet_owner=#{mypet_owner} and mypet_id=#{mypet_id}
	</select>
</mapper>