<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="notice">
	<insert id="insert" parameterType="noticeVO">	
	insert into animul.notice values (
	null,
	#{notice_title},
	#{notice_content},
	now()
	)
  </insert>
  
  <update id="update" parameterType="noticeVO" >
		update animul.notice
		set notice_title = #{notice_title}, notice_content = #{notice_content} 
		where notice_id = #{notice_id}
  </update>
  
  <delete id="delete" parameterType="noticeVO" >
	    delete from animul.notice where notice_id = #{notice_id}
   </delete>
</mapper>