<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="notice">
	<insert id="insert" parameterType="noticeVO">	
	insert into animul.notice values (
	null,
	#{notice_title},
	#{notice_content},
	now(),
	#{member_id},
	#{notice_category},
	#{notice_status}
	)
  </insert>
  
  <update id="update" parameterType="noticeVO" >
		update animul.notice
		set notice_title = #{notice_title}, 
		    notice_content = #{notice_content}, 
		    notice_category = #{notice_category},
		    notice_status = #{notice_status}
		where notice_id = #{notice_id}
  </update>
  
  <delete id="delete" parameterType="noticeVO" >
	    delete from animul.notice where notice_id = #{notice_id}
   </delete>
   
   <select id="list" resultType="noticeVO">
		select * from animul.notice n  where  notice_status='진행중' order by notice_id  desc
	</select>
	
	<select id="list1" resultType="noticeVO">
		select * from animul.notice n  where  notice_status='예정' order by notice_id  desc
	</select>
	
	<select id="one" parameterType="noticeVO" resultType="noticeVO">
	    select * from animul.notice where notice_id = #{notice_id}
	</select>
	
	<!--paging  -->

	<select id="count" resultType="int">
		select count(*)	from notice
	</select>
	
	<select id="list2" parameterType="pageVO" resultType="noticeVO">
	select *
	from 
	    (select 
	     row_number() over(order by notice_id desc) notice_no,
	     n.* from notice n) n2
	where n2.notice_no between ${start} and ${end}
	</select>
   
</mapper>