<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="receipt_item">
	<insert id="insert" parameterType="receipt_itemVO">
		insert into animul.receipt values (
			#{receipt_item_id},
			#{receipt_item_receiptid},
			#{receipt_item_diagnosisname},
			#{receipt_item_price},
			#{receipt_item_result}
		)
	</insert>
	<select id="one" parameterType="receipt_itemVO" resultType="receipt_itemVO">
		select * from animul.receipt_item where receipt_item_id = #{receipt_item_id}
	</select>
	
	<select id="list" resultType="receipt_itemVO">
		select * from animul.receipt_item order by receipt_item_id desc
	</select>
</mapper>