<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="receipt">
	<insert id="insert" parameterType="receiptVO">
        insert into animul.receipt values (
            #{receipt_id},
            #{receipt_myid},
            #{receipt_hospitalname},
            #{receipt_address},
            #{receipt_date},
            #{receipt_price}
        )
    </insert>
    
    <update id="receiptUp" parameterType="receiptVO">
    	UPDATE animul.receipt 
    	SET receipt_hospitalname = #{receipt_hospitalname}, receipt_address = #{receipt_address}, receipt_date = #{receipt_date}, receipt_price = #{receipt_price}
    	WHERE receipt_id = #{receipt_id}
    </update>
    
    <delete id="receiptDel" parameterType="receiptVO">
    	DELETE FROM animul.receipt WHERE receipt_id = #{receipt_id}
    </delete>
	
	<insert id="review" parameterType="receiptVO">
		insert into animul.receipt values (
			#{receipt_review},
			#{receipt_reviewrating}
		)
	</insert>
	
	<select id="duplicate" parameterType="receiptVO" resultType="int">
		select count(*) from animul.receipt 
		where receipt_date =  #{receipt_date} and receipt_hospitalname = #{receipt_hospitalname}
	</select>
	
	<select id="one" parameterType="receiptVO" resultType="receiptVO">
		select * from animul.receipt where receipt_id = #{receipt_id}
	</select>
	
	<select id="mylist"  parameterType="receiptVO" resultType="receiptVO">
		select * from animul.receipt where receipt_myid = #{receipt_myid} and receipt_id NOT LIKE '%a85e45551a9c%'order by receipt_id desc
	</select>
	
	<select id="list" resultType="receiptVO">
		select * from animul.receipt WHERE receipt_id NOT LIKE '%a85e45551a9c%'order by receipt_id desc
	</select>
</mapper>