<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="retrieve">
	<insert id="insert" parameterType="retrieveVO">
		insert into insurance
		values (
		#{symptom_id},
		#{symptom_text},
		#{region_id},
		#{region_text},
		#{result},
		#{result_text},
		#{img},
		#{result_id}
		)
	</insert>

	<select id="list" parameterType= "int" resultType="retrieveVO">
		select result_id, result, result_text, img, symptom_id  from retrieve
		where symptom_id  = #{symptom_id}
	</select>

	<select id="list1" resultType="symptomVO">
		select symptom_id,symptom_text, region_id, region_text from symptom
	</select>

</mapper>