.forgot_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.forgot_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    height: 350px;
    padding: 20px;
    margin: 10px;
}

.forgot_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot_body input {
    width: 260px;
    height: 45px;
    border: 1px solid lightgray;
    
    padding: 5px;
    margin: 5px;
}

.forgot_body button {
    width: 272px;
    height: 57px;
    
    border: 0px;
    background-color: #8EC693;

    padding: 5px;
    margin: 5px;
}

.pwd_reset {
    display: none;
}